:host {
    display: block;
    background-color: #00796b;
    color: #ffffff;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

:host .content {
    flex-grow: 1;
}

:host .content > * {
    margin-bottom: 5px;
}

:host .content > *:last-of-type {
    margin-bottom: unset;
}

.aside {
    padding: 10px 20px 10px 10px;
    margin-right: 10px;
    font-size: 32px;
    border-right: 1px dashed #00251a;
}

.aside a > i {
    color: #00251a;
}

.header {
    display: flex;
    flex-direction: row;
}

.header .name {
    flex-grow: 1;
}

.header .actions a i {
    color: #ffffff;
    margin-left: 5px;
}