<nav>
    <a class="title" routerLink="/"><i class="fas fa-2x fa-calendar-check"></i><span>Home Task Manager</span></a>
    <a class="show-nav-button" (click)="toggleMobileNav()"><i class="fas" [ngClass]="mobileNavOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i></a>
    <div *ngIf="loggedIn">
        <a *ngFor="let link of links" [routerLink]="link.route"  class="nav-link">{{ link.title }}</a>
    </div>
    <div class="spacer"></div>
    <app-nav-user></app-nav-user>
    <div class="mobile-nav" [ngClass]="mobileNavOpen ? 'open' : ''">
        <a *ngFor="let link of links" [routerLink]="link.route" class="nav-link">{{ link.title }}</a>
    </div>  
</nav>