<div class="container">
    <app-page-title></app-page-title>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-component" name="name" [(ngModel)]="group.name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="color">Group Color</label>
            <input type="color" name="color" id="color" [(ngModel)]="group.color">
        </div>
        <div class='form-group'>
            <label for='members'>Add members</label>
            <div class="input-button-combo">
                <input type="text" id="members" class="form-component" name="members" [(ngModel)]="newMember" placeholder="Add member...">
                <button class="button primary" (click)="addMember()">Add</button>
            </div>
        </div>
        <div class="group-users">
            <h4>Group members</h4>
            <div class="user" *ngFor='let user of group.users; let i = index'>
                <span class="username">{{user.username}}</span>
                <a (click)='removeMember(i)'><i class="fas fa-trash"></i></a>
            </div>
        </div>
        <button type='submit' class='button primary' (click)='onSave()'>Save</button>
        <a routerLink='/tasks' class="button">Cancel</a>
        
    </form>
</div>