.unauthenticated {
    display: flex;
    align-items: center;
}

.authenticated {
    display: flex;
    align-items: center;
}

a {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #ffffff;
    text-decoration: unset;
    font-size: 14px;
}