<table class="tasks">
    <tr>
        <th class="header" colspan="5">Tasks</th>
    </tr>
    <tr *ngFor="let task of tasks; last as isLast" [ngClass]="{ 'last': isLast }">
        <td class="icon">
            <span *ngIf="task.isDone; else notDone"><i class="fas fa-check"></i></span>
            <ng-template #notDone><i class="fas fa-times"></i></ng-template>
        </td>
        <td class="name-col">{{ task.name }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.dueDate | date: 'd-M-yyyy h:mm' }}</td>
        <td><div class="task-actions"><a [routerLink]="['./', task.id]"><i class="fas fa-wrench"></i></a></div></td>
    </tr>
    <tr class="last" *ngIf="tasks.length == 0">
        <td colspan="5">No tasks</td>
    </tr>
</table>