<div class="container">
    <app-page-title></app-page-title>
    <form (ngSubmit)="onSave()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-component" name="name" [(ngModel)]="task.name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-component" name="description" [(ngModel)]="task.description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <label for="group">Group</label>
            <select name="group" id="group" [(ngModel)]="task.groupId">
                <option *ngFor="let group of groups" [ngValue]="group.id">{{ group.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="due">Task due</label>
            <p-calendar name="due" inputId="due" showTime="true" hourFormat="24" dateFormat="d-m-yy" [(ngModel)]="task.dueDate"></p-calendar>
        </div>
        <div class="form-group">
            <label for="reminder">Set reminder</label>
            <select id="hours">
                <option *ngFor="let hour of hours">{{hour}}</option>
            </select>
            :
            <select id="minutes">
                <option *ngFor="let minute of minutes">{{minute}}</option>
            </select><br>
            This reminder will be shown
            <select id="minutesBefore">
                <option *ngFor="let option of reminderOptions">{{option}}</option>
            </select>
            before the task needs to be done.
        </div>
        <button class="button primary" type="submit">Save</button>
        <a class="button" (click)="onComplete">Mark as completed</a>
        <a routerLink="/tasks" class="button">Cancel</a>
    </form>
</div>