<div class='container'>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-component" name="name" [(ngModel)]="group.name" placeholder="Name">
        </div>
        <div class='form-group'>
            <label for='members'>Add members</label>
            <input type="text" id="members" class="form-component" name="members" [(ngModel)]="newMember" placeholder="Add member...">
            <button class="button primary" (click)="addMember()">Add</button>
        </div>
        <div *ngFor='let user of group.users; let i = index'>
            <p>{{user.username}}</p>
            <a type='button' class='button primary' (click)='removeMember(index)'>Remove</a>
        </div>
        <button type='submit' class='button primary' (click)='onSave()'>Save</button>
        <a routerLink='/tasks' class="button">Cancel</a>
    </form>
</div>