<div class="container">
    <a routerLink="create" class="button primary">New group</a>
    <h1>Groups where you're manager of</h1>
    <table class="groups">
        <tr>
            <th colspan="2">Group name</th>
            <th colspan="10">Members</th>
        </tr>
        <tr *ngFor="let group of groups">
            <ng-container *ngIf="isManager(group)">
                <td>
                    <a [routerLink]="['./', group.id]"><i class="fas fa-wrench"></i></a>
                </td>
                <td>
                    {{ group.name }}
                </td>
                <td *ngFor="let member of group.group">
                    {{ member.name }}
                </td>
            </ng-container>
        </tr>
    </table>
    <h1>Other groups</h1>
    <table class="groups">
        <tr>
            <th colspan="1">Group name</th>
            <th colspan="10">Members</th>
        </tr>
        <tr *ngFor="let group of groups">
            <ng-container *ngIf="!isManager(group)">
                <td>
                    {{ group.name }}
                </td>
                <td *ngFor="let member of group.group">
                    {{ member.name }}
                </td>
            </ng-container>
        </tr>
    </table>
</div>
