li {
    margin-bottom: 15px;
}

li input {
    margin-right: 10px;
}

li label {
    padding: 5px;
    border-radius: 3px;
}

li .actions {
    float: right;
}

li .actions i {
    margin-left: 5px;
}