/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e1e2e1;
}

a {
    color: unset;
    text-decoration: unset;
}

.container {
    background-color: #ffffff;
    padding: 15px;
    margin: 15px 10%;
}

.sidebar {
    position: fixed;
    padding: 15px;
    left: 0;
    top: 76px;
    bottom: 0;
    min-width: 260px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.sidebar-container {
    margin-left: 260px;
    height: 100%;
}


/* Form components */

input,
textarea,
select {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border: 1px solid #e1e2e1;
    border-radius: 3px;
}

input[type="checkbox"] {
    border: 1px solid #e1e2e1;
    border-radius: 3px;
    background: unset;
}

input:focus,
textarea:focus {
    outline: none;
}

.button {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #e1e2e1;
    border: unset;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: unset;
}

.button.primary {
    color: #ffffff;
    background-color: #00796b;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group .form-component {
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    .container {
        margin: 15px 15px;
    }
}